@model Assignment2.ViewModels.BillPaySummaryViewModel

@{
    ViewData["Title"] = "Bill Payments Summary";
    bool hasBillsToShow = ViewBag.HasBillsToShow;
}


<div class="border-style border-corner mb-4">
    <h2 class="display-6 subheading border-corner mb-4">@ViewData["Title"]</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Current Month Total:</h3>
                <p>@Model.CurrentMonthTotal.ToString("C")</p>
            </div>
            <div class="col-md-6">
                <h3>Next Month Total:</h3>
                <p>@Model.NextMonthTotal.ToString("C")</p>
            </div>
        </div>

        <h3>Upcoming Payments:</h3>
        @if (hasBillsToShow)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Payee</th>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Payment Period</th>
                        <th>Schedule Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model.UpcomingPayments)
                    {
                        <tr>
                            <td>@payment.Payee.Name</td>
                            <td>@payment.Account.AccountNumber</td>
                            <td>@payment.Amount.ToString("C")</td>
                            <td>@payment.Period </td>
                            <td>@payment.ScheduleTimeUtc.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@payment.Status</td>
                            <td>
                                @if (payment.Status == StatusType.Fail || payment.Status == StatusType.InsufficientBalance)
                                {
                                    <!-- Retry Button -->
                                    <form asp-action="RetryBill" method="post" style="display: inline;">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="billPayId" value="@payment.BillPayID" />
                                        <input type="submit" value="Retry" class="btn btn-primary" />
                                    </form>
                                }

                                @if (payment.Status != StatusType.InsufficientBalance)
                                {
                                    <!-- Cancel Button -->
                                    <form asp-action="CancelBill" method="post" style="display: inline;">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="billPayId" value="@payment.BillPayID" />
                                        <input type="submit" value="Cancel" class="btn cancel-button" />
                                    </form>
                                }
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No bills to show.</p>
        }

        <h3>All Payments:</h3>
        @if (hasBillsToShow)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Payee</th>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Payment Period</th>
                        <th>Schedule Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model.AllPayments)
                    {
                        <tr>
                            <td>@payment.Payee.Name</td>
                            <td>@payment.Account.AccountNumber</td>
                            <td>@payment.Amount.ToString("C")</td>
                            <td>@payment.Period </td>
                            <td>@payment.ScheduleTimeUtc.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@payment.Status</td>
                            <td>
                                @if (payment.Status == StatusType.Fail || payment.Status == StatusType.InsufficientBalance)
                                {
                                    <!-- Retry Button -->
                                    <form asp-action="RetryBill" method="post" style="display: inline;">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="billPayId" value="@payment.BillPayID" />
                                        <input type="submit" value="Retry" class="btn btn-primary" />
                                    </form>
                                }

                                @if (payment.Status != StatusType.InsufficientBalance)
                                {
                                    <!-- Cancel Button -->
                                    <form asp-action="CancelBill" method="post" style="display: inline;">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="billPayId" value="@payment.BillPayID" />
                                        <input type="submit" value="Cancel" class="btn cancel-button" />
                                    </form>
                                }
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    </div>


    <div class="button-container right-side">
        <a asp-controller="BillPay" asp-action="Create" class="btn btn-primary">New Bill Payment</a>
    </div>
</div>


<div class="button-container">
    <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Back to Home</a>
</div>