@model Assignment2.Models.BillPay

@{
    ViewData["Title"] = "Create Bill Payment";
}



<div class="border-style border-corner mb-3">
    <h3 class="display-6 md-5 account-heading border-corner center-heading mb-4">Create Bill Payment</h3>
    <div class="center-form">
        <form asp-action="Create" method="post">
            <div class="form-group mb-3">
                <label asp-for="AccountNumber" class="control-label mb-1">Destination Account Number</label>
                <select asp-for="AccountNumber" name="AccountNumber" class="form-select mb-1" data-val="true" data-val-required="The account number is required.">
                    <option value="" selected disabled>-- Select Account --</option>
                    @foreach (var account in ViewBag.Accounts)
                    {
                        <option value="@account.AccountNumber">Account Number: @account.AccountNumber, Account Type: @(account.AccountType == "S" ? "Saving" : "Checking")</option>
                    }
                </select>
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PayeeID" class="control-label mb-1">Payee</label>
                <select asp-for="PayeeID" class="form-select mb-1" data-val="true" data-val-required="The Payee is required.">
                    <option value="" selected disabled>-- Select Payee --</option>
                    @foreach (var payee in ViewBag.Payees)
                    {
                        <option value="@payee.PayeeID">@payee.Name</option>
                    }
                </select>
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Amount" class="control-label mb-1">Amount</label>
                <input asp-for="Amount" class="form-control" data-val="true" data-val-required="The Payee ID is required."/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group mb-3" >
                <label asp-for="ScheduleTimeUtc" class="control-label mb-1">Schedule Date</label>
                <input asp-for="ScheduleTimeUtc" type="datetime-local" class="form-control"/>
                <span asp-validation-for="ScheduleTimeUtc" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Period" class="control-label mb-1">Payment Period</label>
                <select asp-for="Period" class="form-select mb-1" data-val="true" data-val-required="The payment period is required.">
                    <option value="" selected disabled>-- Select Period --</option>
                    <option value="1">One Off</option>
                    <option value="2">Monthly</option>
                </select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</div>

<div class="button-container">
    <a asp-controller="BillPay" asp-action="Index" class="btn btn-primary">Back to Bill Payments</a>
</div>

@section Scripts {
    
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <partial name="_ValidationScriptsPartial" />

}
