@model Assignment2.ViewModels.ATMViewModel

@{
    ViewData["Title"] = "Select Account for Statement";
    var action = "Statement";
    var actionType = Model.ActionType;
    if (actionType == TransactionType.Withdraw)
        action = "Withdraw";
    else if (actionType == TransactionType.Deposit)
        action = "Deposit";
    else if (actionType == TransactionType.Transfer)
        action = "Transfer";

}

<h2>Select Account for @action</h2>

<p>Please select an account:</p>

@if (Model.Accounts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Type</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.Accounts)
                {
                <tr>
                    <td>@account.AccountNumber</td>
                    <td>@(account.AccountType == "S" ? "Saving" : "Checking")</td>
                    <td>@account.Balance.ToString("C")</td>
                    <td>
                        @{
                            if (action == "Statement")
                            {
                                <a asp-action="Statement" asp-route-accountNumber="@account.AccountNumber"
                                   class="btn btn-primary">View Statement</a>
                            }
                            else if (action == "Deposit")
                            {
                                <a asp-action="Deposit" asp-route-id="@account.AccountNumber" class="btn btn-primary">Deposit</a>
                            }
                            else if (action == "Withdraw")
                            {
                                <a asp-action="Withdraw" asp-route-id="@account.AccountNumber" class="btn btn-warning">Withdraw</a>
                            }
                            else if (action == "Transfer")
                            {
                                <a asp-action="Transfer" asp-route-id="@account.AccountNumber" class="btn btn-info">Transfer</a>
                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You do not have any accounts.</p>
}
