@using Assignment2.Models
@model Assignment2.ViewModels.ConfirmTransactionViewModel

<div class="border-style border-corner">
        <h3 class="display-4 confirm-title subheading border-corner">Confirm Your Transaction</h3>
        <div class="center-container confirm-form">
            <form asp-action="TransactionForm" method="post">

                <div class="form-group mb-3">
                    <label for="ActionType" class="control-label mb-1">Transaction Type</label>
                    <input id="ActionType" name="ActionType" class="form-control mb-1" value="@Model.ActionType" readonly />
                </div>

                <div class="form-group mb-3">
                    <label for="AccountNumber" class="control-label mb-1">Selected Account Number</label>
                    <input id="AccountNumber" name="AccountNumber" class="form-control mb-1" value="@Model.AccountNumber" readonly />
                </div>
                @if (Model.ActionType == TransactionType.Transfer.ToString())
                {
                    <div class="form-group mb-3">
                        <label for="DestinationAccountNumber" class="control-label mb-1">Destination Account Number</label>
                        <label for="DestinationAccountNumber" class="control-label mb-1">Amount</label>
                        <input id="DestinationAccountNumber" name="DestinationAccountNumber" class="form-control mb-1" value="@Model.DestinationAccountNumber"
                               readonly />
                    </div>
                }

                <div class="form-group mb-3">
                    <label for="Amount" class="control-label mb-1">Amount</label>
                    <input id="Amount" name="Amount" class="form-control mb-1" value="@Model.Amount.ToString("0.00")"
                           readonly />
                </div>
                <div class="form-group mb-3">
                    <label for="Comment" class="control-label mb-1">Comment</label>
                    <input id="Comment" name="Comment" class="form-control mb-1" value="@Model.Comment" readonly />
                </div>

                <div class="form-group buttons-space-between">
                    <input type="submit" value="Comfirm" class="btn btn-primary mr-3" />
                    <a asp-controller="Customer" asp-action="Index" class="btn cancel-button">Cancel</a>
                </div>
                <!-- Button trigger modal -->
            </form>
        </div>
    </div>
