@model Assignment2.Models.Customer

@{
    ViewData["Title"] = "Profile";
}

<div class="border-style border-corner mb-3">
    <h2 class="display-5 subheading border-corner mb-3">My Profile</h2>

    <div>
        <form>
            <div class="form-group row mb-2">
                <label for="Name" class="col-sm-2 col-form-label mb-1">Name</label>
                <div class="col-sm-10">
                    <input id="Name" name="Name" readonly class="form-control-plaintext"
                           value="@Model.Name" data-val="true" data-val-required="The Name is required.">
                </div>
                @Html.ValidationMessage("Name", new { @class = "text-danger" })
            </div>
            <div class="form-group row mb-2">
                <label for="TFN" class="col-sm-2 col-form-label mb-1">TFN</label>
                <div class="col-sm-10">
                    <input id="TFN" name="TFN" readonly class="form-control-plaintext" value="@Model.TFN"
                           data-val="true" data-val-number="The field TFN must be a number."
                           />
                    @Html.ValidationMessage("TFN", new { @class = "text-danger" })
                </div>
            </div>
</form>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
        </dl>
    </div>
</div>


<a asp-action="Index" class="btn btn-primary">Back to Account List</a>
