@model Assignment2.Models.Customer

@{
    ViewData["Title"] = "Profile";
}

<h2 class="display-5 subheading border-corner mb-3">My Profile</h2>
<div class="border-style border-corner mb-3">
    <div class="tabs mb-3">
        <button class="tab-btn active" id="details-btn">Details</button>
        <button class="tab-btn" id="security-btn">Change Password</button>
    </div>
    <div class="tab-content display mb-3" id="details-form">
        <form class="center-form" asp-action="UpdateProfile">
            <div class="form-group row mb-2">
                <label for="Name" class="col-sm-6 col-form-label fw-bold mb-1">Name</label>
                <div class="col-sm-6">
                    <input id="Name" name="Name" readonly class="form-control-plaintext" 
                           value="@Model.Name" data-val="true" data-val-required="The Name is required.">
                </div>
                @Html.ValidationMessage("Name", new { @class = "text-danger" })
            </div>
            <div class="form-group row mb-2">
                <label for="TFN" class="col-sm-6 col-form-label fw-bold mb-1">TFN</label>
                <div class="col-sm-6">
                    <input id="TFN" name="TFN" readonly class="form-control-plaintext" value="@Model.TFN"
                           data-val="true" data-val-number="The field TFN must be a number." />
                    @Html.ValidationMessage("TFN", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="Address" class="col-sm-6 col-form-label fw-bold mb-1">Address</label>
                <div class="col-sm-6">
                    <input id="Address" name="Address" readonly class="form-control-plaintext" value="@Model.Address"/>
                    @Html.ValidationMessage("Address", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="City" class="col-sm-6 col-form-label fw-bold mb-1">City</label>
                <div class="col-sm-6">
                    <input id="City" name="City" readonly class="form-control-plaintext" value="@Model.City"/>
                    @Html.ValidationMessage("City", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="State" class="col-sm-6 col-form-label fw-bold mb-1">State</label>
                <div class="col-sm-6">
                    <input id="State" name="State" readonly class="form-control-plaintext" value="@Model.State"
                           data-val="true" />
                    @Html.ValidationMessage("State", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="PostCode" class="col-sm-6 col-form-label fw-bold mb-1">PostCode</label>
                <div class="col-sm-6">
                    <input id="PostCode" name="PostCode" readonly class="form-control-plaintext" value="@Model.PostCode"
                           data-val="true" />
                    @Html.ValidationMessage("PostCode", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="PostCode" class="col-sm-6 col-form-label fw-bold mb-1">Mobile</label>
                <div class="col-sm-6">
                    <input id="Mobile" name="Mobile" readonly class="form-control-plaintext" value="@Model.Mobile"
                           data-val="true" />
                    @Html.ValidationMessage("Mobile", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group mb-3 profile-btns">
                <button type="button" id="cancel-btn" class="cancel-button" style="display: none;">Cancel</button>
                <button type="button" id="edit-btn" class="form-btn">Edit</button>
                <input type="submit" value="Update" class="form-btn profile-update-btn" style="display: none;" />
            </div>
        </form>

    </div>

    @*------------------------------------- change password form-------------------------------*@
    <div class="tab-content password-form" id="security-form">
        <partial name="Password" model="Model" />
    </div>

</div>


<div class="button-container">
    <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Back to Home</a>
</div>

@section Scripts {
    <script>$(document).ready(function () {
        // Click event for the Details button
        $("#details-btn").click(function () {
            $(this).addClass("active");
            $("#security-btn").removeClass("active");
            $("#details-form").addClass("display");
            $("#security-form").removeClass("display");
        });

        // Click event for the Security button
        $("#security-btn").click(function () {
            $(this).addClass("active");
            $("#details-btn").removeClass("active");
            $("#security-form").addClass("display");
            $("#details-form").removeClass("display");
        });

        $("#edit-btn").click(function () {
            $("#details-form input[readonly]").toggleClass("form-control-plaintext form-control");
            // Toggle readonly attribute for input fields
            $("#details-form input[readonly]").prop("readonly", false);
            // Show the Update and Cancel button
            $("#cancel-btn").show();
            $("input[type='submit']").show();
            $(this).hide();
        });

    $("#cancel-btn").click(function () {
        // Toggle readonly attribute for input fields
        $("#details-form input").prop("readonly", true);
        // Toggle input class name
        $("#details-form input").toggleClass("form-control-plaintext form-control");
        // Hide the Update and Cancel button
        $("#cancel-btn").hide();
        $("input[type='submit']").hide();
        $("#edit-btn").show();
    });
            
    });</script>
    <partial name="_ValidationScriptsPartial" />
}


